body {
  padding-top: 60px;
}
.input-group
{
  padding-bottom: 2px;
}
#certloclistdiv,#downloadlistdiv,#sharebrowselistdiv
{
    min-height: 100px;
    max-height: 350px;
    overflow-y: auto;
    
}

.form-control[readonly]
{
    background-color:#fff;
}
.alert-tweak
{
  margin-bottom: 1px;
  margin-top: 10px;
}
.input-error
{
  border-width: 2px;
  border-color: rgb(132, 53, 52);
  background-color: rgb(235, 204, 209);
}

.input-changed,.input-changed[readonly]
{
  border-width: 2px;
  border-color: rgb(49, 112, 143);
  background-color: rgb(217, 237, 247);

}
.panel-padding
{
  margin: 10px 10px 10px 10px;
}
.panel-padding h4
{
margin-top: 0px;
}
.panel-padding hr
{
  margin-top:5px;
  margin-bottom:5px;
}
.modal-titlebar
{
  color: rgb(255, 255, 255);
  background-color: rgb(91, 192, 222);
  background-size: 10px 10px;
  background-image: linear-gradient(-45deg, rgba(255, 255, 255, 0.2) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.2) 50%, rgba(255, 255, 255, 0.2) 75%, transparent 75%, transparent);
}
.modal-title
{
  text-shadow: 1px 1px 5px #000000;
}
.modal-footer
{
 margin-top: 0px;
}

.modal-body .list-group
{
  margin-bottom: 0px;
}
.advanced-options
{
  display: none;
}
.glyph-big
{
 font-size:32px;
}

.green-bg
{
  color: rgb(60, 118, 61); 
  background-color: rgb(223, 240, 216);
}
.red-bg
{
  color: rgb(169, 68, 66); 
  background-color: rgb(242, 222, 222);
}

#chatlog
{
   min-height: 350px;
   max-height: 550px;
   overflow-y: auto;

}
#chatlog #ajaxloader
{
  margin-top: 120px;
}
#chatlog hr
{
  margin-top: 3px;
  margin-bottom: 3px;

}
#chatlog .thetime
{
  font-size: 10px;
}
#chatlog .nick
{
  font-size: 22px;
  font-weight: bold;
  text-shadow: 1px 1px 1px #ffffff;
}
#chatlog .themsg
{
  font-size: 16px;
}
#chatlog .alert
{
  box-shadow: 1px 1px 2px #000000;
  margin-bottom: 15px;

}

.green-td
{
  vertical-align:middle;
  color: rgb(60, 118, 61); 
  background-color: rgb(223, 240, 216);
}
.red-td
{
  vertical-align:middle;
  color: rgb(169, 68, 66); 
  background-color: rgb(242, 222, 222);
}
.yellow-td
{
  vertical-align:middle;
  color: rgb(138, 109, 59);
  background-color: rgb(252, 248, 227);
}
.middle-align-td
{
  vertical-align:middle;
}
.tablenick
{
  font-weight: bold;
  font-size: 18px;
}
.panel-body ul
{
  padding-left:20px;
}
#peerlisting ul,#sharelisting ul
{
  padding-left: 0px;
}
#peerlisting button
{
  font-size: 18px;
}
#sharelisting .fileclick
{
  background-color: #f9f9f9;
}
#peerlisting li:hover,#sharelisting li:hover
{
  background-color: #f7f7f7;
}

#sharelisting .fileclick:hover
{
  background-color: #f0f0f0;
}
#sharelisting span.glyphicon-folder-open,span.glyphicon-file
{
  margin-right:3px;
}


#peerlisting .list-group-item,#sharelisting .list-group-item
{
  cursor: pointer;
}

.sharelistingbuttonblock
{
  display:inline-block;
  width: 70px;
  margin-left:-7px;
  margin-top:-5px;
  margin-bottom:-5px;
}
.sharelistingbuttonblock button span
{
  font-size: 14px;
}

.iga-fixed-width
{
  width: 200px;
  display:inline-block;
}
#peer-listing .iga-fixed-width
{
  width: 140px;
  display:inline-block;

}
.filelistingpanel
{
  min-height: 300px;

}
#nopeers,#timedout
{
  margin-top: 50px;

}
@-moz-keyframes spinny 
{
  0%   { -moz-transform: rotate(0deg);   }
  100% { -moz-transform: rotate(359deg); }
}
@-webkit-keyframes spinny {
  0%   { -webkit-transform: rotate(0deg);   }
  100% { -webkit-transform: rotate(359deg); }
}
@keyframes spinny {
  0%   { transform: rotate(0deg);   }
  100% { transform: rotate(359deg); }
}
.spinner 
{
  -webkit-animation: spinny 2s infinite linear;
  -moz-animation: spinny 2s infinite linear;
  animation: spinny 2s infinite linear;
}

.navlink
{
  margin-left: 4px;
}

.trplaceholder
{
  background-color: green;

}
@media screen and (max-width: 1000px) 
{
  .navlink
  {
    display: none;
  }

}
@media screen and (max-width: 767px)
{
  .navlink
  {
    display: initial;
  }

}

