body {
  padding-top: 60px;
}
.input-group
{
  padding-bottom: 2px;
}
#sharebrowselistdiv
{
    min-height: 100px;
    max-height: 300px;
    overflow-y: auto;
}

.form-control[readonly]
{
    background-color:#fff;
}
